{% extends 'layout.html' %}
{% block content %}
<div class="content-section" title="Group Project id">
    <h3><strong>Group ID: </strong> IT-F19-17</h3>
    </div>
<div class="">
    <img src="static\pic\cricket_ball.jpg" alt="" width="100%" height="300px" class="rounded">
</div>
<br>
<div class="content-section">
    <h2>Introduction</h2>
<p style="text-align: justify">In today’s world, we do have a lot of games which are renowned and they are broadcasted nationally and
    internationally when a tournament occurs in any country of the world. People all over the world get very excited for these kinds of tournaments.
    These games are a source of entertainment among various ages of people.
    Cricket is one of the most renowned games which have its own colors to amaze people, to attract people towards it.
    May be, this is the reason of having huge amount of people who are loving and are being connect directly and indirectly with this game.
    In south Asia, cricket is considered as a medium of more than entertainment.
    During this game of cricket,the people become very much interested to watch this particular game. It becomes a “festival” as mentioned before.
</p>
</div>

{% endblock %}